# phpstorm project directory
.idea/

# eclipse project files
.buildpath
.project
.settings/

# zend specific files
.zfproject.xml

# NetBeans files
nbproject/

# ignore vi swapfiles
.*.swp

# librarys & symlinks
library/Zend
library/Foo

# logs
logs/

# misc files
public/info.php
2008-05-12_2008-05-17-urlaub*
application/configs/application.ini

#dl
public/dl/*

#vendor-libs
vendor/FooLib-2
