/******************************************************
    Hauptmenü
******************************************************/
/*
#menuBox ul {
 margin:0;
 padding:3px 0 0 3px;
 list-style:none;
}

#menuBox li {
 float:left;
 background:transparent url('/img/tab.gif') 100% 0px no-repeat;
 padding:0 5px 0 0;
 margin:0;
}

#menuBox li.last {
 background:transparent; 
}

#menuBox ul a {
 float:left;
 display:block;
 padding:4px 4px 4px 10px;
 text-decoration:none;
}

#menuBox ul li:hover a { color:#ff903f; }
*/

/******************************************************
    Untermenü
******************************************************/
/* Globale Einstellungen */
.leftnav {
 font-size:9pt;
 padding:0;
 margin:0 0 0 5px;
 white-space:nowrap;
 font-weight:bold;
}

/* die listen ohne rand */
.leftnav ul {
 margin:0;
 padding:0;
}

/* keine liste fuer listen */
.leftnav li { 
 display:inline;
 list-style:none;
}

/* hauptmenu, nicht aktiv */
.leftnav li a {
 display:block;
 margin:0;
 padding:2pt 8pt 2pt 8pt;
 background-color:#404040;
 border-bottom:solid 1px white;
 color:#fff;
 text-decoration:none;
}

/* hauptmenu, aktiv */
.leftnav-selected-top  {
 margin:0;
 background-image:none !important;
 text-decoration:none;
 color:#000 !important;
 background-color:#ccc !important;
}

/* submenu, nicht aktiv */
.leftnav ul li a {
 background-color:#ff903f;
 color:#404040;
 border-bottom:1px solid #fff;
 padding-left:15pt;
 font-size:11px;
 font-weight:normal;
}

/* submenu, aktiv */
.leftnav-selected  {
 text-decoration:none;
 color:#000 !important;
 background-color:#ddd !important;
}

/* alle, mouseover */
.leftnav a:hover, .leftnav-selected a:hover {
 text-decoration:none;
 color:#404040 !important;
 border-bottom:1px solid #fff;
 background-color:#fff !important;
}
