* {
	margin: 0;
	padding: 0;
}

html, body {
	border: 0;
}

body {
	background: #ddd;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size: 12px;
	color: black;
}

#sitewrapper {
	background: url('/img/header_bg.png') repeat-x;
}

#pagewrapper {
	width: 960px;
	margin: auto;
}

header .header {
	background: url('/img/header_bg.png') repeat-x;
	height: 150px;
}

header .infobar {
	background: white;
	border: double #d44;
	border-width: 0 0 4px 0;
	min-height: 20px;
}

#content {
	background: #ddd;
}

	.master .widecol {
		background: white;
		min-height: 100px;
		margin: 0 0 10px 0;
	}

	.master article {
		background: white;
		width: 700px;
		min-height: 350px;
		float: left;
	}

	.master aside {
		background: white;
		float: left;
		width: 250px;
		min-height: 350px;
		margin: 0 0 0 8px;
	}

	.twoColRight article {
		background: white;
		width: 700px;
		min-height: 350px;
		float: left;
	}

	.twoColRight aside {
		background: white;
		float: left;
		width: 250px;
		min-height: 350px;
		margin: 0 0 0 9px;
	}

	.oneColumn article {
		background: white;
		width: 960px;
		min-height: 350px;
		float: left;
	}

footer {
	border: solid #ddd;
	border-width: 10px 0;
	background: white;
	min-height: 80px;
	clear: both;
	text-align: center;
}

#gotoWf {
	padding: 0 10px;
	text-align: right;
}