@charset "UTF-8";

#backlink {
  width: 50px;
  margin: 0 10px 10px 25px;
  font-size: 9px;
  float: left;
}


nav#minimenu {
  width: 75px;
  margin: 100px 10px 20px 0;
  font-size: 9px;
  float: right;
}
